<div class="container-fluid orange d-flex justify-content-center h-50 py-5">
    <%= image_tag "html_icon.png" ,class: "img-fluid"  ,height: 40 , width: 90 %>
    <h1 class="mx-4 display-1" style="font-weight: 900;">HTML</h1>
</div>
 <div class="container mt-5">
    <div class="row">
        <div class="col-7">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQkpi9naHxTYhdGjpbUfrt9AuyOIsdvOwN9rO2VfcHad7Bl5B5Il4WkeG_E7VtImw/embed?start=true&loop=true&delayms=3000" frameborder="0" width="100%" height="480px" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
        <div class="col-5 d-flex flex-column align-items-center justify-content-center">
              <h1 class="display-4 d-flex flex-column justify-content-center fw-bold">HTML</h1>
              <p class="lead my-2">
                The HyperText Markup Language or HTML is the standard markup language for documents designed to be displayed in a web browser. It can be assisted
                by technologies such as Cascading Style Sheets and scripting languages such as JavaScript 
             </p>
        </div>
    </div>
 </div>
