<% @answer = Answer.find_by(assesments_id: params[:res_id] , users_id: session[:current_user]) %>
<% @no_of_qns = Quest.where(assesments_id: @answer.assesments_id).length %>
<% @quiz_name = Assesment.find_by(id: @answer.assesments_id)%>
<% @crt_ans = Answer.where(assesments_id: @answer.assesments_id , result: true).length %>


<div class="container">
    <div class="row d-flex  justify-content-center" >
        <div class="col-lg-4 col-sm-12 bg-white border rounded" style="margin-top: 12%;">
             <div class="row">
                <div class="col-12  pt-2 ps-4">
                    <p class="fs-1" style="font-weight: 600;"><%= @quiz_name.title.capitalize%> Quiz</p>
                </div>
                <hr class="text-muted">
                <div class="col-12 d-flex align-items-center flex-column "  style="padding: 10% 0 25% 0;" >
                        <div class="row">
                            <div class="col-12">
                                <p class="fs-3">YOUR RESULTS:- <%= @crt_ans%>/<%= @no_of_qns %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <% if @crt_ans < @no_of_qns %>
                                     <p class="fs-5 text-warning">You Must Study Harder !!</p>
                                <% elsif  @crt_ans == @no_of_qns %>
                                      <p class="fs-5 text-success">Great Work Keep Rocking  !!</p>
                                 <% end%>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                    <a href="/course" class="btn btn-pri ">Explore Courses</a>
                                    <a href="/quiz/home" class="btn btn-outline-pri">Back To Quiz</a>
                            </div>
                        </div>
                </div>
             </div>
        </div>
    </div>
</div>
