/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
   font-family: 'Inter', sans-serif;
 }
body{
   background: #f9f8fc;
   /* background-color: #FFFAFA; */
}

.mt-7{
   margin-top: 6%;
}
.pri-col{
   background-color: #754ffe;
}

.orange{
  background: #f48f3b; 
}
.blue{
   background: #489acc;
}
.yellow{
   background: #efd245;
}

.color-1{
   background-color: #fff;
    box-shadow: 0 0 10px 1px #B1A8A8;
    padding: 10px 0;
    
 }

 .height-200{
    height: 100px;
 }

.index-bg{
   background-color: #754ffe;
}


.text-cutting{
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;  
   overflow: hidden;
}
.btn-pri{
   background-color: #754ffe !important;
   color: #fff !important;
}
.btn-outline-pri{
   border-color: #754ffe;
   color: #754ffe !important;
   outline: none;
}

.btn-outline-pri:hover{
   background-color: #754ffe;
   color: #fff !important;
}

#addblog_div{
   display: none;
}

.hide{
   display: none;
}
