// Place all the styles related to the quiz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.popup {
  // position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.411);
  z-index: 100;
  display: none;
}
.overlay {
  position: relative;
  top: 20%;
}
.cross-icon em {
  font-size: 1.5rem;
  cursor: pointer;
}
